<span class="bloco">
    <div class="container">
        <div>
            <p>
                Links:<br>
                Home<br>
                Galeria de Imagens<br>
                Contato
            </p>
        </div>
        <div>
            <p>
                Nosso Endereço
                Rua Florencio de Abreu, 44 - São Paulo - SP Cep: 04455000            
            </p>
        </div>
        <div>
            <p>
                Nossas Redes<br>
                Facebook<br>
                Instagram<br>
                Twitter
            </p>
        </div>
    </div>
    <span class="rodape">
        <p>
            copyright (C) 2023 - all rights reserved - Tx Family - developed by Alexandre Esteves - emailTo: a13xandr3ea@gmail.com
        </p>
    </span>
</span>