<img src="../../assets/images/head.png" 
    class="img-fluid" 
    role="banner"
    alt="Espaço Tx. Family" 
    preserveAspectRatio="xMidYMid slice">

<div class="container-fluid ovH" role="banner">

    <!-- <div>{{ scrWidth }}</div> -->

    <!-- <span class="titulo">teste</span> -->

    <!-- <div class="example">Example DIV.</div> -->
    
    <div class="row ovH">
        <!--  pa t30 col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
        <div class="titulo pa t0 mt1">Espaço Tx Family</div>
        
        <!--  pa t190 col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
        <div class="slogan pa t0 mt6 maxH9 ovH">Seu espaço para eventos, lazer e diversão</div>
        
        <!--  col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
        <div class="telefone pa t0 mt0">Contato: (18) 9 9655-5494 - Keila</div>

    </div>

</div>
