.base { background-color: #d0a5a5; }
.container {
  display: flex;
  width: 100%;
  background-color: #d0a5a5;
}
.container .main {
  max-width: 960px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  background-color: #eeeeee;
}
.container .main .lnk {
  display: inline-flex;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #d0a5a5;
}
.container .main .lnk span {
  width: 33.33%;
  padding: 15px 0px 15px 0px;
  font-family: Raleway-SemiBold;
  font-weight: bold;
  cursor: pointer; 
}
a {
    padding: 4% 38.5% 6% 38.5%;
}
span:hover { outline: 1px solid black; }
span a { text-decoration: none; }
