<div class="base">
    <div class="container">
        <div class="main">
          <div class="lnk">
            <span><a routerLink="/">Home</a></span>
            <span><a routerLink="/galeria">Galeria</a></span>
            <span><a routerLink="/contato">Contato</a></span>
          </div>
        </div>
    </div>
</div>
