
<div class="bloco">

    <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
       <slide *ngFor="let slide of slides; let index=index">
          <img [src]='urlPath+slide.src' alt="image slide" class="slide">
          <div class="carousel-caption">
             <h4>Imagem {{index}}</h4>
             <p>{{slide.text}}</p>
          </div>
       </slide>
    </carousel>
    <br/>
    <div>
       <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="noWrapSlides">Disable Slide Looping</label>
          <label><input type="checkbox" [(ngModel)]="showIndicator">Enable Indicator</label>
       </div>
    </div>

</div>
