:host {
    font-size: 16px;color: #333;box-sizing: border-box;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
  
  h1, h2, h3, h4, h5, h6 {margin: 8px 0;}
  
  p {margin: 0;line-height: 30px;}
  
  .spacer {flex: 1;}
  .content {display: flex;margin: 32px auto;padding: 0 16px;max-width: 960px;flex-direction: column;align-items: center;}
  svg#clouds {position: fixed;bottom: -160px;left: -230px;z-index: -10;width: 1920px;}
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    //.card-container > *:not(.circle-link), .terminal {width: 100%;}
    //.card:not(.highlight-card) {height: 16px;margin: 8px 0;}
    //.card.highlight-card span {margin-left: 72px;}
    //svg#rocket-smoke {right: 120px;transform: rotate(-5deg);}
  }
  @media screen and (max-width: 575px) {
    //svg#rocket-smoke {display: none;visibility: hidden;}
  }