<!--
<div class="container-fluid">
    <h1>usando o ngx-bootstrap Alert</h1>
    <div>
        <label>Selecione uma class</label>
        <select #class (change)="0">
            <option value="alert alert-sucess">Sucesso</option>
            <option value="alert alert-primary">padrao</option>
            <option value="alert alert-danger">Error</option>
        </select>
    </div>
    <div [ngClass]="class.value" role="alert">Classe: {{ class.value }}</div>
</div>
-->