@use 'sass:math' as math;

@function fluid ($min-size, $max-size, $min-breakpoint, $max-breakpoint, $unit: vw) {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: $slope * 100;
    $intercept: $min-size - $slope * $min-breakpoint;
    @return clamp(#{$min-size}, #{$slope-to-unit}#{$unit} + #{$intercept}, #{$max-size});
}

@function strip-units($number) {
    @return math.div($number, ($number * 0 + 1));
}

@function calculateRem($size) {
    $remSize: math.div($size, 16px);
    @return #{$remSize}rem;
}

@function calculateClamp(
    $minimum,
    $preferred,
    $maximum,
    $preferred_viewport_width: 1000px
  ) {
    $clamp_parameter_1: calculateRem($minimum);
    $clamp_parameter_2: strip-units((math.div(($preferred + 0), $preferred_viewport_width)) * 100) * 1vw;
    $clamp_parameter_3: calculateRem($maximum);
    @return clamp(#{$clamp_parameter_1}, #{$clamp_parameter_2}, #{$clamp_parameter_3});
}

@mixin pixelsToResponsiveUnit(
    $property_name,
    $minimum,
    $preferred,
    $maximum,
    $preferred_viewport_width: 1000px
  ) {
    #{$property_name}: calculateClamp($minimum, $preferred, $maximum, $preferred_viewport_width);
}

@mixin responsive-gutter-1x($direction: bottom, $gutter: 36px) {
    @if $direction == top {
      margin-top: $gutter;
      margin-top: calculateClamp(math.div($gutter, 2), ($gutter * 0.75), $gutter);
    } @else if $direction == bottom {
      margin-bottom: $gutter;
      margin-bottom: calculateClamp(math.div($gutter, 2), ($gutter * 0.75), $gutter);
    } @else {
      @error "Unknown direction #{$direction}.";
    }
}

@mixin responsive-gutter-2x($direction: bottom, $gutter: 36px) {
    @if $direction == top {
        margin-top: ($gutter*2);
        margin-top: calculateClamp($gutter, ($gutter * 1.5), ($gutter*2));
    } @else if $direction == bottom {
        margin-bottom: ($gutter*2);
        margin-bottom: calculateClamp($gutter, ($gutter * 1.5), ($gutter*2));
    } @else {
        @error "Unknown direction #{$direction}.";
    }
}

.container {
    // display: block;
    font-family: Raleway !important;
    color: #000001;
    @include pixelsToResponsiveUnit(font-size, 14px, 16px, 18px);
    @include responsive-gutter-1x(top);
    @include responsive-gutter-2x(bottom);
    line-height: 2em;
}

div, img {
    margin: 0px auto;
}
